# --- Konfiguracja PostgreSQL (dla kontenera db) ---
POSTGRES_DB=feedtruck
POSTGRES_USER=feed_user
POSTGRES_PASSWORD=secure_password_123

# --- Konfiguracja Django (dla kontenera web) ---
# Baza danych (musi pokrywać się z danymi powyżej)
DB_NAME=feedtruck
DB_USER=feed_user
DB_PASSWORD=secure_password_123
DB_HOST=db
DB_PORT=5432

# Bezpieczeństwo i ustawienia aplikacji
SECRET_KEY=change_me_in_production_complex_string_!@#
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=http://localhost

# Automatyczny Superuser
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_PASSWORD=admin
DJANGO_SUPERUSER_EMAIL=admin@feedtruck.local

# Synchronizacja Pull (klient pobiera dane z serwera centralnego)
CENTRAL_SYNC_URL=https://ft1.feedtrack.pl:9443/api/sync/indicators/
CENTRAL_SYNC_TOKEN=SKOPIUJ_TOKEN_Z_CENTRALI
